.imageBG_01 {
  background-image: url("../bg/10.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageBG_02 {
  background-image: url("../bg/2.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageBG_03 {
  background-image: url("../bg/13.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
  justify-content: center;
}
.heroTitle {
  font-size: 4em;
  color: white;
}
.heroText {
  font-style: italic;
  color: white;
}
.videoPlayerBG {
  z-index: 999;
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: (translate(-50%, -50%));
  background-color: black;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-items: center;
  transition: all 2s ease-in-out;
  -webkit-transition: all ease 0.8s;
  transition-delay: 1s;
  visibility: hidden;
  opacity: 0;
}
.videoPlayer {
  flex: 1;
}
.videPlayerShow {
  height: 500px;
  opacity: 1;
  visibility: visible;
}

.CloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #f5222d;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.CloseIcon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: #ea6e74;
  z-index: -1;
  border-radius: 100px;
  animation: circles 2s infinite;
}
@keyframes circles {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  30% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  50% {
    width: 35px;
    height: 35px;
    opacity: 1;
  }
  100% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .bannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .heroTitle {
    font-size: 2.5em;
  }
  .heroText {
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .videoPlayerBG {
    top: 10%;
    left: 0%;
    height: 300px;
  }
}
@media screen and (max-width: 467px) {
  .bannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .heroTitle {
    font-size: 2em;
  }
  .heroText {
    text-align: center;
  }
}

.pcspace,
.pcspace-top {
  padding-top: var(--section-space);
}
.pcspace,
.pcspace-bottom {
  padding-bottom: var(--section-space);
}
.pcspace-extra,
.pcspace-extra-top {
  padding-top: calc(var(--section-space) - 30px);
}
.pcspace-extra,
.pcspace-extra-bottom {
  padding-bottom: calc(var(--section-space) - 30px);
}
.pcspace-extra2,
.pcspace-extra2-top {
  padding-top: calc(var(--section-space) - 40px);
}
.pcspace-extra2,
.pcspace-extra2-bottom {
  padding-bottom: calc(var(--section-space) - 40px);
}
@media (max-width: 991px) {
  .pcspace,
  .pcspace-top {
    padding-top: var(--section-space-mobile);
    display: none;
  }
  .pcspace,
  .pcspace-bottom {
    padding-bottom: var(--section-space-mobile);
  }
  .pcspace-extra,
  .pcspace-extra-top {
    padding-top: calc(var(--section-space-mobile) - 30px);
  }
  .pcspace-extra,
  .pcspace-extra-bottom {
    padding-bottom: calc(var(--section-space-mobile) - 30px);
  }
  .pcspace-top-md-none {
    padding-top: 0;
  }
  .pcspace-extra2,
  .pcspace-extra2-top {
    padding-top: 70px;
  }
  .pcspace-extra2,
  .pcspace-extra2-bottom {
    padding-bottom: 70px;
  }
}

.mobilespace,
.mobilespace-top {
  padding-top: var(--section-space);
}
.mobilespace,
.mobilespace-bottom {
  padding-bottom: var(--section-space);
}
.mobilespace-extra,
.mobilespace-extra-top {
  padding-top: calc(var(--section-space) - 30px);
}
.mobilespace-extra,
.mobilespace-extra-bottom {
  padding-bottom: calc(var(--section-space) - 30px);
}
.mobilespace-extra2,
.mobilespace-extra2-top {
  padding-top: calc(var(--section-space) - 40px);
}
.mobilespace-extra2,
.mobilespace-extra2-bottom {
  padding-bottom: calc(var(--section-space) - 40px);
}
@media (min-width: 992px) {
  .mobilespace,
  .mobilespace-top {
    padding-top: var(--section-space-mobile);
    display: none;
  }
}
@media (max-width: 991px) {
  .mobilespace,
  .mobilespace-top {
    padding-top: var(--section-space-mobile);
  }
  .mobilespace,
  .mobilespace-bottom {
    padding-bottom: var(--section-space-mobile);
  }
  .mobilespace-extra,
  .mobilespace-extra-top {
    padding-top: calc(var(--section-space-mobile) - 30px);
  }
  .mobilespace-extra,
  .mobilespace-extra-bottom {
    padding-bottom: calc(var(--section-space-mobile) - 30px);
  }
  .mobilespace-top-md-none {
    padding-top: 0;
  }
  .mobilespace-extra2,
  .mobilespace-extra2-top {
    padding-top: 70px;
  }
  .mobilespace-extra2,
  .mobilespace-extra2-bottom {
    padding-bottom: 70px;
  }
}
